body {
    background-color:dimgray;
    color:blue;
}

nav {
    height: 250px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer {
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    text-align: center;
}

Header {
    text-align: center;
}